.container {
    width: 100%;
}

.navbar {
    border-radius: 0;
}

.tab {
    margin-top: 20px;
}

.cart-quantity {
    position: absolute;
    width: 55px;
    right: 10px;
    text-align: center;
}