<!DOCTYPE HTML>
<html manifest="cache.appcache">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>MyshopAdmin</title>


    <script type="text/javascript">
        var Ext = Ext || {}; // Ext namespace won't be defined yet...

        // This function is called by the Microloader after it has performed basic
        // device detection. The results are provided in the "tags" object. You can
        // use these tags here or even add custom tags. These can be used by platform
        // filters in your manifest or by platformConfig expressions in your app.
        //
        Ext.beforeLoad = function (tags) {
            var s = location.search,  // the query string (ex "?foo=1&bar")
                profile;

            // For testing look for "?classic" or "?modern" in the URL to override
            // device detection default.
            //
            if (s.match(/\bclassic\b/)) {
                profile = 'classic';
            }
            else if (s.match(/\bmodern\b/)) {
                profile = 'modern';
            }
            else {
                profile = tags.desktop ? 'classic' : 'modern';
                //profile = tags.phone ? 'modern' : 'classic';
            }

            Ext.manifest = profile; // this name must match a build profile name

            // This function is called once the manifest is available but before
            // any data is pulled from it.
            //
            //return function (manifest) {
            // peek at / modify the manifest object
            //};
        };
    </script>


    <!-- The line below must be kept intact for Sencha Cmd to build your application -->
    <script id="microloader" data-app="a50f1d3c-e12d-4884-b093-278c45264628" type="text/javascript">var Ext=Ext||{};Ext.manifest=Ext.manifest||"classic.json";Ext=Ext||{};
        Ext.Boot=Ext.Boot||function(e){function g(a){if(a.$isRequest)return a;a=a.url?a:{url:a};var m=a.url,m=m.charAt?[m]:m,d=a.charset||b.config.charset;v(this,a);delete this.url;this.urls=m;this.charset=d}function p(a){if(a.$isEntry)return a;var m=a.charset||b.config.charset,d=Ext.manifest,d=d&&d.loader,f=void 0!==a.cache?a.cache:d&&d.cache,j;b.config.disableCaching&&(void 0===f&&(f=!b.config.disableCaching),!1===f?j=+new Date:!0!==f&&(j=f),j&&(d=d&&d.cacheParam||b.config.disableCachingParam,j=d+"\x3d"+
                j));v(this,a);this.charset=m;this.buster=j;this.requests=[]}var n=document,r=[],s={disableCaching:/[?&](?:cache|disableCacheBuster)\b/i.test(location.search)||!/http[s]?\:/i.test(location.href)||/(^|[ ;])ext-cache=1/.test(n.cookie)?!1:!0,disableCachingParam:"_dc",loadDelay:!1,preserveScripts:!0,charset:"UTF-8"},y=/\.css(?:\?|$)/i,q=n.createElement("a"),t="undefined"!==typeof window,w={browser:t,node:!t&&"function"===typeof require,phantom:window&&(window._phantom||window.callPhantom)||/PhantomJS/.test(window.navigator.userAgent)},
                l=Ext.platformTags={},v=function(a,b,d){d&&v(a,d);if(a&&b&&"object"===typeof b)for(var f in b)a[f]=b[f];return a},x=function(){var a=!1,b=Array.prototype.shift.call(arguments),d,f,j,c;"boolean"===typeof arguments[arguments.length-1]&&(a=Array.prototype.pop.call(arguments));j=arguments.length;for(d=0;d<j;d++)if(c=arguments[d],"object"===typeof c)for(f in c)b[a?f.toLowerCase():f]=c[f];return b},c="function"==typeof Object.keys?function(a){return!a?[]:Object.keys(a)}:function(a){var b=[],d;for(d in a)a.hasOwnProperty(d)&&
                b.push(d);return b},b={loading:0,loaded:0,apply:v,env:w,config:s,assetConfig:{},scripts:{},currentFile:null,suspendedQueue:[],currentRequest:null,syncMode:!1,useElements:!0,listeners:[],Request:g,Entry:p,allowMultipleBrowsers:!1,browserNames:{ie:"IE",firefox:"Firefox",safari:"Safari",chrome:"Chrome",opera:"Opera",dolfin:"Dolfin",edge:"Edge",webosbrowser:"webOSBrowser",chromeMobile:"ChromeMobile",chromeiOS:"ChromeiOS",silk:"Silk",other:"Other"},osNames:{ios:"iOS",android:"Android",windowsPhone:"WindowsPhone",
                    webos:"webOS",blackberry:"BlackBerry",rimTablet:"RIMTablet",mac:"MacOS",win:"Windows",tizen:"Tizen",linux:"Linux",bada:"Bada",chromeOS:"ChromeOS",other:"Other"},browserPrefixes:{ie:"MSIE ",edge:"Edge/",firefox:"Firefox/",chrome:"Chrome/",safari:"Version/",opera:"OPR/",dolfin:"Dolfin/",webosbrowser:"wOSBrowser/",chromeMobile:"CrMo/",chromeiOS:"CriOS/",silk:"Silk/"},browserPriority:"edge opera dolfin webosbrowser silk chromeiOS chromeMobile ie firefox safari chrome".split(" "),osPrefixes:{tizen:"(Tizen )",
                    ios:"i(?:Pad|Phone|Pod)(?:.*)CPU(?: iPhone)? OS ",android:"(Android |HTC_|Silk/)",windowsPhone:"Windows Phone ",blackberry:"(?:BlackBerry|BB)(?:.*)Version/",rimTablet:"RIM Tablet OS ",webos:"(?:webOS|hpwOS)/",bada:"Bada/",chromeOS:"CrOS "},fallbackOSPrefixes:{windows:"win",mac:"mac",linux:"linux"},devicePrefixes:{iPhone:"iPhone",iPod:"iPod",iPad:"iPad"},maxIEVersion:12,detectPlatformTags:function(){var a=navigator.userAgent,m=/Mobile(\/|\s)/.test(a),d=document.createElement("div"),f={},j,k,h,e,u;
                    k=this.browserPriority.length;for(e=0;e<k;e++)j=this.browserPriority[e],u?h=0:(h=this.browserPrefixes[j],(h=(h=a.match(RegExp("("+h+")([\\w\\._]+)")))&&1<h.length?parseInt(h[2]):0)&&(u=!0)),f[j]=h;f.ie&&(e=document.documentMode,8<=e&&(f.ie=e));h=f.ie||!1;j=Math.max(h,this.maxIEVersion);for(e=8;e<=j;++e)k="ie"+e,f[k+"m"]=h?h<=e:0,f[k]=h?h===e:0,f[k+"p"]=h?h>=e:0;e={};var g,n,p;k=c(this.osPrefixes);u=k.length;for(p=h=0;h<u;h++)j=k[h],g=this.osPrefixes[j],(g=(n=(g=a.match(RegExp("("+g+")([^\\s;]+)")))?
                        g[1]:null)&&("HTC_"===n||"Silk/"===n)?2.3:g&&1<g.length?parseFloat(g[g.length-1]):0)&&p++,e[j]=g;k=c(this.fallbackOSPrefixes);u=k.length;for(h=0;h<u;h++)j=k[h],0===p?(g=this.fallbackOSPrefixes[j],g=a.toLowerCase().match(RegExp(g)),e[j]=g?!0:0):e[j]=0;j={};h=c(this.devicePrefixes);p=h.length;for(u=0;u<p;u++)k=h[u],g=this.devicePrefixes[k],g=a.match(RegExp(g)),j[k]=g?!0:0;k=b.loadPlatformsParam();x(l,f,e,j,k,!0);l.phone=!(!l.iphone&&!l.ipod&&!(!l.silk&&l.android&&(3>l.android||m)||l.blackberry&&m||
                    l.windowsphone));l.tablet=!(l.phone||!l.ipad&&!l.android&&!l.silk&&!(l.rimtablet||l.ie10&&/; Touch/.test(a)));m="ontouchend"in d;!m&&(d.setAttribute&&d.removeAttribute)&&(d.setAttribute("ontouchend",""),m="function"===typeof d.ontouchend,"undefined"!==typeof d.ontouchend&&(d.ontouchend=void 0),d.removeAttribute("ontouchend"));l.touch=m||navigator.maxTouchPoints||navigator.msMaxTouchPoints;l.desktop=!l.phone&&!l.tablet;l.cordova=l.phonegap=!(!window.PhoneGap&&!window.Cordova&&!window.cordova);l.webview=
                        /(iPhone|iPod|iPad).*AppleWebKit(?!.*Safari)(?!.*FBAN)/i.test(a);l.androidstock=4.3>=l.android&&(l.safari||l.silk);x(l,k,!0)},loadPlatformsParam:function(){var a=window.location.search.substr(1).split("\x26"),b={},d,f={},j,c,h;for(d=0;d<a.length;d++)j=a[d].split("\x3d"),b[j[0]]=j[1];if(b.platformTags){j=b.platformTags.split(",");a=j.length;for(d=0;d<a;d++){b=j[d].split(":");c=b[0];h=!0;if(1<b.length&&(h=b[1],"false"===h||"0"===h))h=!1;f[c]=h}}return f},filterPlatform:function(a,b){a=r.concat(a||r);
                    b=r.concat(b||r);var d=a.length,f=b.length,c=!d&&f,k;for(k=0;k<d&&!c;k++)c=a[k],c=!!l[c];for(k=0;k<f&&c;k++)c=b[k],c=!l[c];return c},init:function(){var a=n.getElementsByTagName("script"),m=a.length,d=/\/ext(\-[a-z\-]+)?\.js$/,f,c,k,h,e,g;for(g=0;g<m;g++)if(c=(f=a[g]).src)k=f.readyState||null,!h&&d.test(c)&&(b.hasReadyState="readyState"in f,b.hasAsync="async"in f||!b.hasReadyState,h=c),b.scripts[e=b.canonicalUrl(c)]||new p({key:e,url:c,done:null===k||"loaded"===k||"complete"===k,el:f,prop:"src"});
                    h||(f=a[a.length-1],h=f.src,b.hasReadyState="readyState"in f,b.hasAsync="async"in f||!b.hasReadyState);b.baseUrl=h.substring(0,h.lastIndexOf("/")+1);b.origin=window.location.origin||window.location.protocol+"//"+window.location.hostname+(window.location.port?":"+window.location.port:"");b.detectPlatformTags();Ext.filterPlatform=b.filterPlatform},canonicalUrl:function(a){q.href=a;a=q.href;var b=s.disableCachingParam,b=b?a.indexOf(b+"\x3d"):-1,d,f;if(0<b&&("?"===(d=a.charAt(b-1))||"\x26"===d)){f=a.indexOf("\x26",
                    b);if((f=0>f?"":a.substring(f))&&"?"===d)++b,f=f.substring(1);a=a.substring(0,b-1)+f}return a},getConfig:function(a){return a?b.config[a]:b.config},setConfig:function(a,m){if("string"===typeof a)b.config[a]=m;else for(var d in a)b.setConfig(d,a[d]);return b},getHead:function(){return b.docHead||(b.docHead=n.head||n.getElementsByTagName("head")[0])},create:function(a,m,d){d=d||{};d.url=a;d.key=m;return b.scripts[m]=new p(d)},getEntry:function(a,m,d){var f,c;f=d?a:b.canonicalUrl(a);c=b.scripts[f];c||
                (c=b.create(a,f,m),d&&(c.canonicalPath=!0));return c},registerContent:function(a,m,d){return b.getEntry(a,{content:d,loaded:!0,css:"css"===m})},processRequest:function(a,b){a.loadEntries(b)},load:function(a){a=new g(a);if(a.sync||b.syncMode)return b.loadSync(a);b.currentRequest?(a.getEntries(),b.suspendedQueue.push(a)):(b.currentRequest=a,b.processRequest(a,!1));return b},loadSync:function(a){a=new g(a);b.syncMode++;b.processRequest(a,!0);b.syncMode--;return b},loadBasePrefix:function(a){a=new g(a);
                    a.prependBaseUrl=!0;return b.load(a)},loadSyncBasePrefix:function(a){a=new g(a);a.prependBaseUrl=!0;return b.loadSync(a)},requestComplete:function(a){if(b.currentRequest===a)for(b.currentRequest=null;0<b.suspendedQueue.length;)if(a=b.suspendedQueue.shift(),!a.done){b.load(a);break}!b.currentRequest&&0==b.suspendedQueue.length&&b.fireListeners()},isLoading:function(){return!b.currentRequest&&0==b.suspendedQueue.length},fireListeners:function(){for(var a;b.isLoading()&&(a=b.listeners.shift());)a()},
                    onBootReady:function(a){b.isLoading()?b.listeners.push(a):a()},getPathsFromIndexes:function(a,b){if(!("length"in a)){var d=[],f;for(f in a)isNaN(+f)||(d[+f]=a[f]);a=d}return g.prototype.getPathsFromIndexes(a,b)},createLoadOrderMap:function(a){return g.prototype.createLoadOrderMap(a)},fetch:function(a,b,d,f){f=void 0===f?!!b:f;var c=new XMLHttpRequest,k,h,g,l=!1,n=function(){c&&4==c.readyState&&(h=1223===c.status?204:0===c.status&&("file:"===(self.location||{}).protocol||"ionp:"===(self.location||
                    {}).protocol)?200:c.status,g=c.responseText,k={content:g,status:h,exception:l},b&&b.call(d,k),c.onreadystatechange=e,c=null)};f&&(c.onreadystatechange=n);try{c.open("GET",a,f),c.send(null)}catch(p){return l=p,n(),k}f||n();return k},notifyAll:function(a){a.notifyRequests()}};g.prototype={$isRequest:!0,createLoadOrderMap:function(a){var b=a.length,d={},c,j;for(c=0;c<b;c++)j=a[c],d[j.path]=j;return d},getLoadIndexes:function(a,m,d,c,j){var k=[],h=[a];a=a.idx;var e,g,l;if(m[a])return k;for(m[a]=k[a]=
                !0;a=h.shift();)if(e=a.canonicalPath?b.getEntry(a.path,null,!0):b.getEntry(this.prepareUrl(a.path)),!j||!e.done){a=c&&a.uses&&a.uses.length?a.requires.concat(a.uses):a.requires;g=0;for(l=a.length;g<l;g++)e=a[g],m[e]||(m[e]=k[e]=!0,h.push(d[e]))}return k},getPathsFromIndexes:function(a,b){var d=[],c,j;c=0;for(j=a.length;c<j;c++)a[c]&&d.push(b[c].path);return d},expandUrl:function(a,b,d,c,j,e){if(b&&(d=d[a]))if(c=this.getLoadIndexes(d,c,b,j,e),c.length)return this.getPathsFromIndexes(c,b);return[a]},
                expandUrls:function(a,b){var d=this.loadOrder,c=[],j={},e=[],h,g,l,n,p,r,q;"string"===typeof a&&(a=[a]);d&&(h=this.loadOrderMap,h||(h=this.loadOrderMap=this.createLoadOrderMap(d)));l=0;for(n=a.length;l<n;l++){g=this.expandUrl(a[l],d,h,e,b,!1);p=0;for(r=g.length;p<r;p++)q=g[p],j[q]||(j[q]=!0,c.push(q))}0===c.length&&(c=a);return c},expandLoadOrder:function(){var a=this.urls,b;this.expanded?b=a:(b=this.expandUrls(a,!0),this.expanded=!0);this.urls=b;a.length!=b.length&&(this.sequential=!0);return this},
                getUrls:function(){this.expandLoadOrder();return this.urls},prepareUrl:function(a){return this.prependBaseUrl?b.baseUrl+a:a},getEntries:function(){var a=this.entries,c,d,f,j,e;if(!a){a=[];e=this.getUrls();this.loadOrder&&(c=this.loadOrderMap);for(f=0;f<e.length;f++)j=this.prepareUrl(e[f]),c&&(d=c[j]),j=b.getEntry(j,{buster:this.buster,charset:this.charset},d&&d.canonicalPath),j.requests.push(this),a.push(j);this.entries=a}return a},loadEntries:function(a){var b=this,d=b.getEntries(),c=d.length,e=
                    b.loadStart||0,g,h;void 0!==a&&(b.sync=a);b.loaded=b.loaded||0;b.loading=b.loading||c;for(h=e;h<c;h++)if(g=d[h],e=g.loaded?!0:d[h].load(b.sync),!e){b.loadStart=h;g.onDone(function(){b.loadEntries(a)});break}b.processLoadedEntries()},processLoadedEntries:function(){var a=this.getEntries(),b=a.length,d=this.startIndex||0,c;if(!this.done){for(;d<b;d++){c=a[d];if(!c.loaded){this.startIndex=d;return}c.evaluated||c.evaluate();c.error&&(this.error=!0)}this.notify()}},notify:function(){var a=this;if(!a.done){var c=
                    a.error,d=a[c?"failure":"success"],c="delay"in a?a.delay:c?1:b.config.chainDelay,f=a.scope||a;a.done=!0;d&&(0===c||0<c?setTimeout(function(){d.call(f,a)},c):d.call(f,a));a.fireListeners();b.requestComplete(a)}},onDone:function(a){var b=this.listeners||(this.listeners=[]);this.done?a(this):b.push(a)},fireListeners:function(){var a=this.listeners,b;if(a)for(;b=a.shift();)b(this)}};p.prototype={$isEntry:!0,done:!1,evaluated:!1,loaded:!1,isCrossDomain:function(){void 0===this.crossDomain&&(this.crossDomain=
                0!==this.getLoadUrl().indexOf(b.origin));return this.crossDomain},isCss:function(){if(void 0===this.css)if(this.url){var a=b.assetConfig[this.url];this.css=a?"css"===a.type:y.test(this.url)}else this.css=!1;return this.css},getElement:function(a){var c=this.el;c||(this.isCss()?(a=a||"link",c=n.createElement(a),"link"==a?(c.rel="stylesheet",this.prop="href"):this.prop="textContent",c.type="text/css"):(c=n.createElement(a||"script"),c.type="text/javascript",this.prop="src",this.charset&&(c.charset=
                this.charset),b.hasAsync&&(c.async=!1)),this.el=c);return c},getLoadUrl:function(){var a;a=this.canonicalPath?this.url:b.canonicalUrl(this.url);this.loadUrl||(this.loadUrl=this.buster?a+(-1===a.indexOf("?")?"?":"\x26")+this.buster:a);return this.loadUrl},fetch:function(a){var c=this.getLoadUrl();b.fetch(c,a.complete,this,!!a.async)},onContentLoaded:function(a){var b=a.status,c=a.content;a=a.exception;this.getLoadUrl();this.loaded=!0;(a||0===b)&&!w.phantom?this.evaluated=this.error=!0:200<=b&&300>
            b||304===b||w.phantom||0===b&&0<c.length?this.content=c:this.evaluated=this.error=!0},createLoadElement:function(a){var c=this,d=c.getElement();c.preserve=!0;d.onerror=function(){c.error=!0;a&&a()};b.hasReadyState?d.onreadystatechange=function(){("loaded"===this.readyState||"complete"===this.readyState)&&a&&a()}:d.onload=a;d[c.prop]=c.getLoadUrl()},onLoadElementReady:function(){b.getHead().appendChild(this.getElement());this.evaluated=!0},inject:function(a){var c=b.getHead(),d=this.url,f=this.key,
                e,g;this.isCss()?(this.preserve=!0,g=f.substring(0,f.lastIndexOf("/")+1),e=n.createElement("base"),e.href=g,c.firstChild?c.insertBefore(e,c.firstChild):c.appendChild(e),e.href=e.href,d&&(a+="\n/*# sourceURL\x3d"+f+" */"),d=this.getElement("style"),f="styleSheet"in d,c.appendChild(e),f?(c.appendChild(d),d.styleSheet.cssText=a):(d.textContent=a,c.appendChild(d)),c.removeChild(e)):(d&&(a+="\n//# sourceURL\x3d"+f),Ext.globalEval(a));return this},loadCrossDomain:function(){var a=this;a.createLoadElement(function(){a.el.onerror=
                a.el.onload=e;a.el=null;a.loaded=a.evaluated=a.done=!0;a.notifyRequests()});a.evaluateLoadElement();return!1},loadElement:function(){var a=this;a.createLoadElement(function(){a.el.onerror=a.el.onload=e;a.el=null;a.loaded=a.evaluated=a.done=!0;a.notifyRequests()});a.evaluateLoadElement();return!0},loadSync:function(){var a=this;a.fetch({async:!1,complete:function(b){a.onContentLoaded(b)}});a.evaluate();a.notifyRequests()},load:function(a){var c=this;if(!c.loaded){if(c.loading)return!1;c.loading=!0;
                if(a)c.loadSync();else{if(c.isCrossDomain())return c.loadCrossDomain();if(!c.isCss()&&b.hasReadyState)c.createLoadElement(function(){c.loaded=!0;c.notifyRequests()});else{if(b.useElements&&(!c.isCss()||!w.phantom))return c.loadElement();c.fetch({async:!a,complete:function(a){c.onContentLoaded(a);c.notifyRequests()}})}}}return!0},evaluateContent:function(){this.inject(this.content);this.content=null},evaluateLoadElement:function(){b.getHead().appendChild(this.getElement())},evaluate:function(){!this.evaluated&&
            !this.evaluating&&(this.evaluating=!0,void 0!==this.content?this.evaluateContent():this.error||this.evaluateLoadElement(),this.evaluated=this.done=!0,this.cleanup())},cleanup:function(){var a=this.el,b;if(a){if(!this.preserve)for(b in this.el=null,a.parentNode.removeChild(a),a)try{b!==this.prop&&(a[b]=null),delete a[b]}catch(c){}a.onload=a.onerror=a.onreadystatechange=e}},notifyRequests:function(){var a=this.requests,b=a.length,c,f;for(c=0;c<b;c++)f=a[c],f.processLoadedEntries();this.done&&this.fireListeners()},
                onDone:function(a){var b=this.listeners||(this.listeners=[]);this.done?a(this):b.push(a)},fireListeners:function(){var a=this.listeners,b;if(a&&0<a.length)for(;b=a.shift();)b(this)}};Ext.disableCacheBuster=function(a,b){var c=new Date;c.setTime(c.getTime()+864E5*(a?3650:-1));c=c.toGMTString();n.cookie="ext-cache\x3d1; expires\x3d"+c+"; path\x3d"+(b||"/")};b.init();return b}(function(){});Ext.globalEval=Ext.globalEval||(this.execScript?function(e){execScript(e)}:function(e){eval.call(window,e)});
        Function.prototype.bind||function(){var e=Array.prototype.slice,g=function(g){var n=e.call(arguments,1),r=this;if(n.length)return function(){var s=arguments;return r.apply(g,s.length?n.concat(e.call(s)):n)};n=null;return function(){return r.apply(g,arguments)}};Function.prototype.bind=g;g.$extjs=!0}();Ext.setResourcePath=function(e,g){var p=Ext.manifest||(Ext.manifest={}),n=p.resources||(p.resources={});p&&("string"!==typeof e?Ext.apply(n,e):n[e]=g,p.resources=n)};
        Ext.getResourcePath=function(e,g,p){"string"!==typeof e&&(g=e.pool,p=e.packageName,e=e.path);var n=Ext.manifest,n=n&&n.resources;g=n[g];var r=[];null==g&&(g=n.path,null==g&&(g="resources"));g&&r.push(g);p&&r.push(p);r.push(e);return r.join("/")};Ext=Ext||window.Ext||{};
        Ext.Microloader=Ext.Microloader||function(){var e=Ext.Boot,g=function(b){console.log("[WARN] "+b)},p="_ext:"+location.pathname,n=function(b,a){return p+b+"-"+(a?a+"-":"")+c.appId},r,s;try{s=window.localStorage}catch(y){}var q=window.applicationCache,t={clearAllPrivate:function(b){if(s){s.removeItem(b.key);var a,e=[],d=b.profile+"-"+c.appId,f=s.length;for(b=0;b<f;b++)a=s.key(b),0===a.indexOf(p)&&-1!==a.indexOf(d)&&e.push(a);for(b in e)s.removeItem(e[b])}},retrieveAsset:function(b){try{return s.getItem(b)}catch(a){return null}},
                setAsset:function(b,a){try{null===a||""==a?s.removeItem(b):s.setItem(b,a)}catch(c){}}},w=function(b){this.assetConfig="string"===typeof b.assetConfig?{path:b.assetConfig}:b.assetConfig;this.type=b.type;this.key=n(this.assetConfig.path,b.manifest.profile);b.loadFromCache&&this.loadFromCache()};w.prototype={shouldCache:function(){return s&&this.assetConfig.update&&this.assetConfig.hash&&!this.assetConfig.remote},is:function(b){return!!b&&this.assetConfig&&b.assetConfig&&this.assetConfig.hash===b.assetConfig.hash},
                cache:function(b){this.shouldCache()&&t.setAsset(this.key,b||this.content)},uncache:function(){t.setAsset(this.key,null)},updateContent:function(b){this.content=b},getSize:function(){return this.content?this.content.length:0},loadFromCache:function(){this.shouldCache()&&(this.content=t.retrieveAsset(this.key))}};var l=function(b){this.content="string"===typeof b.content?JSON.parse(b.content):b.content;this.assetMap={};this.url=b.url;this.fromCache=!!b.cached;this.assetCache=!1!==b.assetCache;this.key=
                n(this.url);this.profile=this.content.profile;this.hash=this.content.hash;this.loadOrder=this.content.loadOrder;this.deltas=this.content.cache?this.content.cache.deltas:null;this.cacheEnabled=this.content.cache?this.content.cache.enable:!1;this.loadOrderMap=this.loadOrder?e.createLoadOrderMap(this.loadOrder):null;b=this.content.tags;var a=Ext.platformTags;if(b){if(b instanceof Array)for(var c=0;c<b.length;c++)a[b[c]]=!0;else e.apply(a,b);e.apply(a,e.loadPlatformsParam())}this.js=this.processAssets(this.content.js,
                "js");this.css=this.processAssets(this.content.css,"css")};l.prototype={processAsset:function(b,a){var c=new w({manifest:this,assetConfig:b,type:a,loadFromCache:this.assetCache});return this.assetMap[b.path]=c},processAssets:function(b,a){var c=[],d=b.length,f,e;for(f=0;f<d;f++)e=b[f],c.push(this.processAsset(e,a));return c},useAppCache:function(){return!0},getAssets:function(){return this.css.concat(this.js)},getAsset:function(b){return this.assetMap[b]},shouldCache:function(){return this.hash&&
                this.cacheEnabled},cache:function(b){this.shouldCache()&&t.setAsset(this.key,JSON.stringify(b||this.content))},is:function(b){return this.hash===b.hash},uncache:function(){t.setAsset(this.key,null)},exportContent:function(){return e.apply({loadOrderMap:this.loadOrderMap},this.content)}};var v=[],x=!1,c={init:function(){Ext.microloaded=!0;var b=document.getElementById("microloader");c.appId=b?b.getAttribute("data-app"):"";Ext.beforeLoad&&(r=Ext.beforeLoad(Ext.platformTags));var a=Ext._beforereadyhandler;
                Ext._beforereadyhandler=function(){Ext.Boot!==e&&(Ext.apply(Ext.Boot,e),Ext.Boot=e);a&&a()}},applyCacheBuster:function(b){var a=(new Date).getTime(),c=-1===b.indexOf("?")?"?":"\x26";return b+c+"_dc\x3d"+a},run:function(){c.init();var b=Ext.manifest;if("string"===typeof b){var a=b.indexOf(".json")===b.length-5?b:b+".json",g=n(a);(g=t.retrieveAsset(g))?(b=new l({url:a,content:g,cached:!0}),r&&r(b),c.load(b)):e.fetch(c.applyCacheBuster(a),function(d){b=new l({url:a,content:d.content});b.cache();r&&r(b);
                c.load(b)})}else b=new l({content:b}),c.load(b)},load:function(b){c.urls=[];c.manifest=b;Ext.manifest=c.manifest.exportContent();var a=b.getAssets(),m=[],d,f,j,k;j=a.length;for(f=0;f<j;f++)if(d=a[f],k=c.filterAsset(d))b.shouldCache()&&d.shouldCache()&&(d.content?(k=e.registerContent(d.assetConfig.path,d.type,d.content),k.evaluated&&g("Asset: "+d.assetConfig.path+" was evaluated prior to local storage being consulted.")):m.push(d)),c.urls.push(d.assetConfig.path),e.assetConfig[d.assetConfig.path]=
                e.apply({type:d.type},d.assetConfig);if(0<m.length)for(c.remainingCachedAssets=m.length;0<m.length;)d=m.pop(),e.fetch(d.assetConfig.path,function(a){return function(b){c.onCachedAssetLoaded(a,b)}}(d));else c.onCachedAssetsReady()},onCachedAssetLoaded:function(b,a){var m;a=c.parseResult(a);c.remainingCachedAssets--;a.error?(g("There was an error pre-loading the asset '"+b.assetConfig.path+"'. This asset will be uncached for future loading"),b.uncache()):(m=c.checksum(a.content,b.assetConfig.hash),
            m||(g("Cached Asset '"+b.assetConfig.path+"' has failed checksum. This asset will be uncached for future loading"),b.uncache()),e.registerContent(b.assetConfig.path,b.type,a.content),b.updateContent(a.content),b.cache());if(0===c.remainingCachedAssets)c.onCachedAssetsReady()},onCachedAssetsReady:function(){e.load({url:c.urls,loadOrder:c.manifest.loadOrder,loadOrderMap:c.manifest.loadOrderMap,sequential:!0,success:c.onAllAssetsReady,failure:c.onAllAssetsReady})},onAllAssetsReady:function(){x=!0;c.notify();
                !1!==navigator.onLine?c.checkAllUpdates():window.addEventListener&&window.addEventListener("online",c.checkAllUpdates,!1)},onMicroloaderReady:function(b){x?b():v.push(b)},notify:function(){for(var b;b=v.shift();)b()},patch:function(b,a){var c=[],d,f,e;if(0===a.length)return b;f=0;for(e=a.length;f<e;f++)d=a[f],"number"===typeof d?c.push(b.substring(d,d+a[++f])):c.push(d);return c.join("")},checkAllUpdates:function(){window.removeEventListener&&window.removeEventListener("online",c.checkAllUpdates,
                !1);q&&c.checkForAppCacheUpdate();c.manifest.fromCache&&c.checkForUpdates()},checkForAppCacheUpdate:function(){q.status===q.UPDATEREADY||q.status===q.OBSOLETE?c.appCacheState="updated":q.status!==q.IDLE&&q.status!==q.UNCACHED?(c.appCacheState="checking",q.addEventListener("error",c.onAppCacheError),q.addEventListener("noupdate",c.onAppCacheNotUpdated),q.addEventListener("cached",c.onAppCacheNotUpdated),q.addEventListener("updateready",c.onAppCacheReady),q.addEventListener("obsolete",c.onAppCacheObsolete)):
                c.appCacheState="current"},checkForUpdates:function(){e.fetch(c.applyCacheBuster(c.manifest.url),c.onUpdatedManifestLoaded)},onAppCacheError:function(b){g(b.message);c.appCacheState="error";c.notifyUpdateReady()},onAppCacheReady:function(){q.swapCache();c.appCacheUpdated()},onAppCacheObsolete:function(){c.appCacheUpdated()},appCacheUpdated:function(){c.appCacheState="updated";c.notifyUpdateReady()},onAppCacheNotUpdated:function(){c.appCacheState="current";c.notifyUpdateReady()},filterAsset:function(b){b=
                b&&b.assetConfig||{};return b.platform||b.exclude?e.filterPlatform(b.platform,b.exclude):!0},onUpdatedManifestLoaded:function(b){b=c.parseResult(b);if(b.error)g("Error loading manifest file to check for updates"),c.onAllUpdatedAssetsReady();else{var a,m,d,f,j,k=[],h=new l({url:c.manifest.url,content:b.content,assetCache:!1});c.remainingUpdatingAssets=0;c.updatedAssets=[];c.removedAssets=[];c.updatedManifest=null;c.updatedAssetsReady=!1;if(h.shouldCache())if(c.manifest.is(h))c.onAllUpdatedAssetsReady();
            else{c.updatedManifest=h;a=c.manifest.getAssets();m=h.getAssets();for(f in m)b=m[f],d=c.manifest.getAsset(b.assetConfig.path),(j=c.filterAsset(b))&&(!d||b.shouldCache()&&!d.is(b))&&k.push({_new:b,_current:d});for(f in a)d=a[f],b=h.getAsset(d.assetConfig.path),j=!c.filterAsset(b),(!j||!b||d.shouldCache()&&!b.shouldCache())&&c.removedAssets.push(d);if(0<k.length)for(c.remainingUpdatingAssets=k.length;0<k.length;)d=k.pop(),b=d._new,d=d._current,"full"===b.assetConfig.update||!d?e.fetch(b.assetConfig.path,
                function(a){return function(b){c.onFullAssetUpdateLoaded(a,b)}}(b)):"delta"===b.assetConfig.update&&(f=h.deltas,f=f+"/"+b.assetConfig.path+"/"+d.assetConfig.hash+".json",e.fetch(f,function(a,b){return function(d){c.onDeltaAssetUpdateLoaded(a,b,d)}}(b,d)));else c.onAllUpdatedAssetsReady()}else c.updatedManifest=h,t.clearAllPrivate(h),c.onAllUpdatedAssetsReady()}},onFullAssetUpdateLoaded:function(b,a){var e;a=c.parseResult(a);c.remainingUpdatingAssets--;a.error?b.uncache():(e=c.checksum(a.content,b.assetConfig.hash))?
                (b.updateContent(a.content),c.updatedAssets.push(b)):b.uncache();if(0===c.remainingUpdatingAssets)c.onAllUpdatedAssetsReady()},onDeltaAssetUpdateLoaded:function(b,a,e){var d,f,j;e=c.parseResult(e);c.remainingUpdatingAssets--;if(e.error)g("Error loading delta patch for "+b.assetConfig.path+" with hash "+a.assetConfig.hash+" . This asset will be uncached for future loading"),b.uncache();else try{d=JSON.parse(e.content),j=c.patch(a.content,d),(f=c.checksum(j,b.assetConfig.hash))?(b.updateContent(j),
                c.updatedAssets.push(b)):b.uncache()}catch(k){g("Error parsing delta patch for "+b.assetConfig.path+" with hash "+a.assetConfig.hash+" . This asset will be uncached for future loading"),b.uncache()}if(0===c.remainingUpdatingAssets)c.onAllUpdatedAssetsReady()},onAllUpdatedAssetsReady:function(){var b;c.updatedAssetsReady=!0;if(c.updatedManifest){for(;0<c.removedAssets.length;)b=c.removedAssets.pop(),b.uncache();for(c.updatedManifest&&c.updatedManifest.cache();0<c.updatedAssets.length;)b=c.updatedAssets.pop(),
                b.cache()}c.notifyUpdateReady()},notifyUpdateReady:function(){if("checking"!==c.appCacheState&&c.updatedAssetsReady&&("updated"===c.appCacheState||c.updatedManifest))c.appUpdate={updated:!0,app:"updated"===c.appCacheState,manifest:c.updatedManifest&&c.updatedManifest.exportContent()},c.fireAppUpdate()},fireAppUpdate:function(){Ext.GlobalEvents&&Ext.defer(function(){Ext.GlobalEvents.fireEvent("appupdate",c.appUpdate)},100)},checksum:function(b,a){if(!b||!a)return!1;var c=!0,d=a.length,e=b.substring(0,
                1);"/"==e?b.substring(2,d+2)!==a&&(c=!1):"f"==e?b.substring(10,d+10)!==a&&(c=!1):"."==e&&b.substring(1,d+1)!==a&&(c=!1);return c},parseResult:function(b){var a={};(b.exception||0===b.status)&&!e.env.phantom?a.error=!0:200<=b.status&&300>b.status||304===b.status||e.env.phantom||0===b.status&&0<b.content.length?a.content=b.content:a.error=!0;return a}};return c}();Ext.manifest=Ext.manifest||"bootstrap";Ext.Microloader.run();</script>

</head>
<body></body>
</html>
